[Desktop Entry]
Name=AppImageMonitor
Exec=monitorAppImages.sh
Icon=AppImageMonitor
Terminal=true
Type=Application
Categories=System;
Comment=AppImage desktop integration daemon
StartupNotify=true
